// color
$primary-color: #1E87F0;
$secondary-color: #14171A;
$dark-gray: #657786;
$light-gray: #AAB8C2;
$extra-light-gray: #E1E8ED;
$extra-extra-light-gray: #F5F8FA;
$white: #FFFFFF;

//position
@import "position";
@import "margin";